@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: azure;
    position:fixed;
    top:40px;
    width: 70%;
    right:0px;
    left: 0px;
    margin: 0px auto;
    border-radius: 2%;
}

.menu_item{
    display:flex;
    gap: 30px;
    min-width: fit-content;
    max-width: fit-content;
    align-items: center;
    
}
.menu_item a{
    color:black;
    text-decoration: none;
    cursor: pointer;
    
}
.bg{
    background-image:url(image/background..jpg);
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
    background-size: cover;
    content:"";
    contain:"";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.tittle{
    font-family: "DM Serif Display", serif;
    font-size: 44px;
    font-weight: 800;
    width: 40%;
    text-align: center;
    font-style: italic;
}
.tittle span{
    color: orange;
}
.fruit{
    display: flex;
    height: 500px;
    width: 500px;
    
    
}
.table{
    justify-content: center;
   background-color: orange;
    height: 45px;
    width: 100px;
    border: none;


}
.table:hover{
    border:1px solid orange;
    background-color: white;
    
    

}

.text span{
    color:orange;
    
}
.text{
    font-size: large;
}
.xyz{
    display: flex;
    width:70%;
    margin:0px auto;

}
.xyz div{
    flex:1;
    
    
}
.paragraph{
    font-size: medium;
}



.bcd{
    display:flex;
    height:400px;
    flex-direction: column;
    margin: 0px auto;
    gap: 20px;
  position: relative;
width: 100%;
}
.vegetable{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -1;
}
.vegetable img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text1{
    font-size:large;

}
.text1 span{
    color:orange;

}
.paragraph1{
    font-size:medium;
}
h1{
    position: relative;
    font-weight:700;
    width: 30%;
}
.whole{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0px auto;
    gap: 40px;
}
.whole .item{
    background-color: white;
    width:100%;
    transition: all .3s ease-in-out;
    

}

.item .item_image{
    width: 100%;
    height: 300px;
    overflow: clip;
}
.item_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_detail{
    padding: 10px 20px;
}

.item_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_title h1{
    width: 100%;
}
.item_title h2{
    color: orange;
}


.item:hover{
    background-color: orange;
    transition: all .3s ease-in-out;

}

.item:hover .item_title h2{
    color: black;
    transition: all .3s ease-in-out;

}
.item:hover .item_image img{
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}